ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

.column {
  display: inline-flex;
  flex-grow: 1;
}

#leftColumn {

  background-color: white;
  flex: 0.2;
  display: inline;
  text-align: center;
}

#middleColumn {

  background-color: white;
  flex: 0.6;
  flex-direction: column;
}

#rightColumn {

  background-color: white;
  flex: 0.2;
  display: inline;
  text-align: center;
}

.empty {
  margin-top: 5em;
  text-align: center;
  align-content: center;
}

.heading {
  font-size: 2.5em;
  display: block;
}

.post {
  background-color: white;
  display: block;
  border-radius: 20px;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color: black;
  margin: 10px;
}

img {
  height: 300px;
  object-fit: cover;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postTitle {
  padding: 5px 25px 5px 0px;
  border-radius: 50px;
  background-size: contain;
  background-image: linear-gradient(to right, #5271ff, rgb(255, 90, 252));
  display: inline-block;
  font-size: 2.5em;
  color: white;
}

.postType {
  height: 70px;
  margin: 0px 5px 0px 0px;
  padding: 0px 20px;
  border: 5px;
  border-style: dashed;
  border-color: black;
  border-radius: 50px;
  border-width: 0.0725em;
  background-color: transparent;
  font-size: 2.5em;
  color: black;
  text-align: center;
  line-height: 70px;
  vertical-align: top;
  float: right;
}

.postType a {
  text-decoration: none;
  color:black;
}

.postType p {
  margin-top: 0;
}

.postContent {
  padding: 0px 5px;
  font-size: 1.55em;
}

.postContent a {
  color: black;
}

.postContent.groupContent {
  text-align: center;
}

.quickLink {
  height: 240px;
  display: flex;
  justify-content: center;
}

.quickLinkContent {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

.quickLinkContent.icons {
  padding: 0px;
  text-align: center;
}

.quickLinkContent li a {
  font-size: 1.5em;
  color: black;
}

.eventAttendees {
  height: 50px;
  margin: 0px 20px 0px 0px;
  padding: 0px 20px;
  border: 5px;
  border-style: dashed;
  border-color: black;
  border-radius: 50px;
  border-width: 0.0725em;
  background-color: transparent;
  font-size: 2em;
  color: black;
  text-align: center;
  line-height: 50px;
  vertical-align: top;
  float: right;
}

.eventAttendees p {
  margin-top:0;
}

.eventRSVP {
  height: 50px;
  margin: 0px 5px 0px 0px;
  padding: 0px 20px;
  border-radius: 50px;
  background-color: transparent;
  border-style: dashed;
  border-color: black;
  border-width: 0.058em;
  font-size: 2.5em;
  color: black;
  text-align: center;
  line-height: 50px;
  vertical-align: top;
  float: right;
  box-sizing: content-box;
}

.eventRSVP:hover {
  background-color: lightgray;
}

.postLikes {
  height: 60px;
  width: 150px;
  margin: 0px 0px 0px 5px;
  border: 0px;
  background-color: transparent;
  font-size: 1.5em;
  color: black;
  text-align: center;
  line-height: 60px;
  vertical-align: top;
  float: left;
  display: flex;
}

.postLikes img {
  height:53.2px;
  display: inline;
  object-fit: scale-down;
}

.postLikes p {
  margin-top: 0;
}

.postLikes button {
  padding:0;
  border-radius: 21px;
  margin-top:6.5px;
  border-width: 0;
  border-style: solid;

}

div .likes-display {
  display: inline-block;
  height: 2.1em;
}

.likes-display p {
  margin:0;
  margin-top: 0.44em;
  margin-bottom: 0.44em;
  float:left;
}

.likes-display img {
  float: left;
  height: 2.1em;
  margin: 0;
}

.seeMore {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  color: gray;
  display: block;
}