body {
    font-family: 14px, "Helvetica", sans-serif;
  }

.links-list {
    font-size: 1.2vw;
    margin-top: 20vh;
    margin-right: 5vw;
    width: 15vw;
    float: left;
}

.list {
    list-style: none;
    padding-left: 1vw;
}

.links-list a {
    color: rgb(82, 82, 82);
}

.links-list a:hover {
    color: black;
}

.links-list li {
    margin-top: 1em;
}

.Terms {
    font-size: 1.5vw;
    top:8vw;
    box-sizing: content-box;
    width: 40vw;
    height: auto;
    position:relative;
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2vw;
    background-color:   white;
    left: 0%;
    z-index: 0;
    font-size: 1em;
    font-family: sans-serif;
  }
  #pageTitle{
    position: absolute;
    left: 1vw;
    top: 11vh;
    font-size: 5em;
  }
