body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}


.header-banner {
    height:120px;
}

.group-Banner {
    background-image: url("/images/groupBanner.png");
    background-repeat:no-repeat;
    background-size: cover;
    height: 15vw;
    width: 100vw;
}

div.header-text {
    font-size: 1.2vw;
    background-color: royalblue;
    height:6em;
    size: auto;
    text-align: left;
    margin-top: 0;
}

div.posts-container {
    font-size: 0.8vw;
    background-color: white;
    float: left;
    width: 60vw;
    text-align: left;
    margin-left: 8vw;
    border-style: solid;
    border-width: 0 0.3em 0 0.3em;
    border-color: royalblue;
}

.empty {
    text-align: center;
    font-size: 2em;
    color: darkgrey;
    margin-bottom: 1.5em;
}

.post {
    background-color: white;
    margin: 0.5em 0.5em 0.5em 0em;
    border-radius: 3em;
    padding: 0.25em 1em 1em 0.4em;
    border-style: solid;
    border-width: 0.1em;
    border-color: darkgray;
}

.post-header {
    display: inline-block;
    width: 58vw;
    height: 4em;
    margin-left: 0.25em;
}

.post-header button {
    float: right;
}

div .post-title {
    background-size: contain;
    background-image: linear-gradient(to right, royalblue, rgb(255, 103, 171));
    max-width: fit-content;
    height: 4em;
    border-radius: 2em 2em 2em 2em;
    display: inline-block;
}


.post-title h2 {
    float: left;
    color: white;
    display: inline;
    margin:0.5em;
    margin-top: 0.75em;
    margin-right:1.5em;
}

.post-title img {
    float: left;
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 3em;
    border-radius: 90%;
}

.post-type {
    font-size: 1.3vw;
    float: right;
    background: white;
    border-style: dotted;
    border-width: 0.1em;
    border-color: black;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 0.2em;
    margin-top: 0.375em;
}

.post-header a {
    color: rgb(37, 37, 37);
}

.post-header a:hover {
    background-color: lightgray;
}


.event-image {
    object-fit:fill;
    width: 58vw;
}

div .likes-display {
    display: inline-block;
    height: 2.1em;
}

.likes-display p {
    margin:0;
    margin-top: 0.44em;
    margin-bottom: 0.44em;
    float:left;
}

.likes-display img {
    float: left;
    height: 2.1em;
    margin: 0;
}


div .post-footer {
    display: inline-block;
    width: 58vw;
}

div .event-rsvp {
    float: right;
}

.event-rsvp p {
    display: inline-block;
    font-size: 0.75vw;
    background: white;
    border-style: dotted;
    border-width: 0.1em;
    border-color: black;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 0.15em;
    margin-top: 0.375em;
    margin-left: 0.4em;
}

.event-rsvp button {
    font-size: 1vw;
    float: right;
    background: white;
    border-style: dotted;
    border-width: 0.1em;
    border-color: black;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 0.15em;
    margin-top: 0em;
    margin-left: 0.4em;
}

.event-rsvp button:hover {
    background-color: lightgray;
    cursor: pointer;
}


div.about-tab {
    font-size: 0.8vw;
    margin-right: 8vw;
    width: 16vw;
    text-align: left;
    background-color: white;
    float: right;
    padding: 0.5em;
    border-style: solid;
    border-width: 0 0.3em 0 0.3em;
    border-color: royalblue;

}

.about-tab h1 {
    margin: 0.2em;
    margin-bottom: 0em;

}



.about-tab h2 {
    margin: 0.2em;
    margin-top: 2em;
    margin-bottom: 0em;
    display: inline;
}

.about-tab .member-count {
    font-size: 1vw;
    float: right;
    margin-top:0em;
    margin-bottom: 0.5em;
    display: block;
}

.about-tab p {
    margin-top: 0.1em;
    text-align: center;
    margin-bottom: 0;
}

.event-container {
    margin-top: 0.75em;
    text-align: left;
}

.event-name {
    text-align: left;
    text-decoration: underline;
}

.date {
    float: left;
}

.attending {
    float: right;
}

.branch {
    width: 18em;
    height: 4em;
}

.group-logo {
    float: left;
    display: inline;
    height: 3em;
    margin-top: 0.5em;
    border-radius: 3em 3em 3em 3em;
}

.branch {
    margin-bottom: 0.5em;
}

.branch p {
    font-size: 1.1vw;
    margin-left: 0.3em;
    margin-top: 0.885em;
    float: left;
    display: inline;
    text-decoration: underline;
    font-weight: lighter;
}

.posts-container a {
    margin-left: 28.25vw;
}

.extend-list {
    margin-left: 6.45em;
    text-align: center;
    font-size: 1vw;
    color: gray;
    text-decoration: underline;
}

.extend-list:hover {
    color: black;
    cursor: pointer;
}