body {
    font-family: sans-serif;
}

.search input {
    font-size: 1.5vw;
    border-radius: 0.7em;
    border-width: 0.1em;
    border-color: rgb(123, 123, 123);
    border-style: solid;
    float: right;
    padding: 5px;
    margin-bottom: 10px;
}

#organisation-container {
    font-size: 0.8vw;
    width: 75vw;
}

.organisation {
    width: 75vw;
    height: 5em;
    background: rgb(250, 229, 221);
    border-radius: 500px;
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 1.5vw;
    line-height: 5em;
    margin-bottom: 0.5em;
}

.organisation img {
    width: 6vw;
    height: 6vw;
    border-radius: 100px;
    margin: 0.8vw;
    float: left;
}

.organisation button {
    height: 6vw;
    width: 6vw;
    font-size: 1vw;
    font-weight: bold;
    float: right;
    border-style: dotted;
    border-width: 0.30em;
    border-color: black;
    background-color: white;
    border-radius: 100px;
    margin: 0.8vw;
    text-align: center;
    padding: 0;
}

form {
    float: right;
}

.organisation button:hover {
    background-color: grey;
    cursor: pointer;
    color: white;
}

#dropdown {
    margin-top: 120px;
}


#addForm {
    font-size: 1.5em;
    box-sizing: content-box;
    width: 37em;
    height: 22em;
    position: absolute;
    border: 0.2vw solid black;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin: auto;
    align-self: center;
    top: 30%;
}

#organisationCreateText {
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
}

.subAddForm {
    margin-left: 3.5em;
    font-size: 0.9em;
}

#orgName {
    border-style: solid black;
    padding-left: 1vw;
    font-size: 1em;
    border-radius: 1vw;
    margin-top: 0px;
}

#orgRegion {
    border-style: solid black;
    padding-left: 1vw;
    font-size: 1em;
    border-radius: 1vw;
    margin-top: 0px;
}

.OK {
    border-style: solid green;
    border-color: #04AA6D;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    border-radius: 1em;
}

.CANCEL {
    border-style: solid #990000;
    border-color: red;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    border-radius: 1em;
}


#warning {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin: -57px 0px 0px -110px;
    border-radius: 100px;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    background-color: rgb(221, 38, 38);
    padding: 5px;
}

#org-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}

#addTable {
    border-style: none;
    background-image: url("/images/AddIcon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    align-self: center;
    padding: 20px;
}

.hidden {
    display: none;
}