body {
    font-family: 14px, "Helvetica", sans-serif;
    overflow: auto; }

.links-list {
    font-size: 1.2vw;
    margin-top: 30vh;
    margin-right: 5vw;
    width: 15vw;
    float: left;
}

.list {
    list-style: none;
    padding-left: 1vw;
}

.links-list a {
    color: rgb(82, 82, 82);
}

.links-list a:hover {
    color: black;
}

.links-list li {
    margin-top: 1em;
}
.addForm {
    font-size: 1.5em;
    top:10vw;
    box-sizing: content-box;
    width: 37em;
    height: 27em;
    position:relative;
    overflow: auto;
    border: 0.2vw solid black;
    border-radius: 2vw;
    background-color:   white;
    left: 0%;
    z-index: 0;
}

.organisationCreateText{
    width: 90%;
    height: 15vw;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow-y: scroll;
    font-size: 16px;
  }
.subAddForm{
    margin-left: 3.5em;
    font-size: 0.9em;
}

#orgName{
    border-style: solid black;
    padding-left: 1vw;
    font-size: 1em;
    border-radius: 1vw;
    margin-top: 0px;
}
.OK{
    border-style: solid green;
    border-color: #04AA6D;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    border-radius: 1em;
}

.CANCEL{
    border-style: solid #990000    ;
    border-color: red;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    border-radius: 1em;
}
#addImage{
    border-style: none;
    height:3em;
    width:3em;
    margin-left: 0.5em;
    background-image: url("/images/addImage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#uploadImageDiv{
    position: absolute;
    top:8em;
    left:14.5em;
    display: flex;
    margin-left: 14em;
    align-items: center;
}

.deleteConfirmation{
    position: absolute;
    padding: 0.5em;
    border:0.2em solid black;
    background-color: aliceblue;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    top:34.5vw;
    left:0em;
    display: flex;
    margin-left:1vw;
    align-items: center;
    flex-direction: column;
}

#confirmationButton{
    display: flex;
    flex-direction: row;
}