body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}



div.header-text {
    font-size: 1.2vw;
    background-color: royalblue;
    height: 6em;
    size: auto;
    text-align: left;
    margin-top: 0;
}


.group-Banner {
    background-image: url("/images/groupBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
    width: 100vw;
}

.header-banner {
    height: 120px;
}

.create {
    font-size: 1.35vw;
    float: right;
    margin: 10.5vw 1em 1em 1em;
    padding: 0.5em;
    background: white;
    border-style: none;
    border-width: 0.1em;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    outline-color: #35eb62;
    outline-width: 5px;
    outline-style: solid;
}

.create:hover {
    background-color: lightgray;
    cursor: pointer;
}

.create:active {
    background-color: darkgray;
}

div.posts-container {
    font-size: 1.2vw;
    background-color: white;
    float: left;
    width: 60vw;
    text-align: left;
    margin-left: 8vw;
    border-style: solid;
    border-width: 0 0.3em 0 0.3em;
    border-color: royalblue;
}

.post {
    background-color: white;
    margin: 0.5em 0.5em 0.5em 0em;
    border-radius: 3em;
    padding: 0.25em 1em 1em 0.4em;
    border-style: solid;
    border-width: 0.1em;
    border-color: darkgray;
}

.empty {
    text-align: center;
    font-size: 2em;
    color: darkgrey;
    margin-bottom: 1.5em;
}

.post-header {
    display: inline-block;
    width: 58vw;
    height: 4em;
    margin-left: 0.25em;
}

.post-header button {
    float: right;
}

div .post-title {
    background-size: contain;
    background-image: linear-gradient(to right, #5271ff, rgb(255, 90, 252));
    max-width: fit-content;
    height: 4em;
    border-radius: 2em 2em 2em 2em;
    display: inline-block;
}


.post-title h2 {
    float: left;
    color: white;
    display: inline;
    margin: 0.5em;
    margin-top: 0.75em;
    margin-right: 1.5em;
}

.post-title img {
    float: left;
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 90%;
}

.post-type {
    font-size: 1.5vw;
    float: right;
    background: white;
    border-style: none;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 0.2em;
    margin: 0.375em 30px 0px 0px;
    padding: 5px 15px;
    outline-color: #5271ff;
    outline-width: 5px;
    outline-style: solid;
}

.post-header a {
    color: rgb(37, 37, 37);
}

.post-header a:hover {
    background-color: lightgray;
}


.event-image {
    object-fit: fill;
    width: 58vw;
}

div .likes-display {
    display: inline-block;
    height: 2.1em;
}

.likes-display p {
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.44em;
    float: left;
}

.likes-display img {
    float: left;
    height: 3em;
    margin: 0;
}

.likes-display button {
    padding: 0;
    border-radius: 21px;
    margin-top: 4px;
    border-width: 0;
    border-style: solid;
    margin-left: 0.5vw;
}


div .post-footer {
    display: inline-block;
    width: 58vw;
}

div .event-rsvp {
    float: right;
}

.event-rsvp p {
    display: inline-block;
    font-size: 1.4vw;
    background: white;
    border-style: dotted;
    border-width: 0.1em;
    border-color: black;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 0.15em;
    margin-top: 0.375em;
    margin-left: 0.4em;
}

.event-rsvp button {
    height: 30px;
    margin: 0px 5px 0px 0px;
    padding: 0px 20px;
    font-size: 1.5vw;
    background: white;
    border-style: none;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 500px;
    margin-top: 0.3em;
    margin-left: 0.4em;
    color: black;
    line-height: 30px;
    outline-color: #5271ff;
    outline-width: 5px;
    outline-style: solid;
}




.event-rsvp a {
    font-size: 1.5vw;
    float: right;
    background: white;
    border-style: none;
    outline-color: #5271ff;
    outline-width: 5px;
    outline-style: solid;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 2px 15px;
    margin-top: 0.3em;
    margin-left: 0.4em;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}


.event-rsvp a:hover {
    background-color: lightgray;
    cursor: pointer;
}

.event-rsvp a:active {
    background-color: darkgray;
}

.editButton {
    margin-left: 0;
}

.event-rsvp button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.event-rsvp button:active {
    background-color: darkgray;
}


div.about-tab {
    font-size: 1.2vw;
    margin-right: 8vw;
    width: 16vw;
    text-align: left;
    background-color: white;
    float: right;
    padding: 0.5em;
    border-style: solid;
    border-width: 0 0.3em 0 0.3em;
    border-color: royalblue;

}

.about-tab h1 {
    margin: 0.2em;
    margin-bottom: 1em;
    display: inline;
}

.about-text {
    margin-top: 2em;
}

.about-tab h2 {
    margin: 0.2em;
    margin-top: 2em;
    margin-bottom: 0em;
    display: inline;
}

.edits {
    font-size: 1.3vw;
    margin-top: 0.4em;
    float: right;
    text-decoration: underline;
}

.edits:hover {
    color: blue;
    cursor: pointer;
}

.edits:active {
    cursor: pointer;
}

.member-count {
    font-size: 1vw;
    margin-top: 0em;
    margin-bottom: 0em;
}

.member-count a {
    float: right;
    color: black;
}

.about-tab p {
    margin: 0.1em 0.3em 0.5em 0.3em;
    text-align: left;
}

.event-container {
    margin-top: 0.75em;
    text-align: left;
}

.event-name {
    text-align: left;
    text-decoration: underline;
}

.date {
    float: left;
}

.attending {
    float: right;
}

.branch {
    width: 18em;
    height: 4em;
}

.group-logo {
    float: left;
    display: inline;
    height: 3em;
    width: 3em;
    margin-top: 0.5em;
    border-radius: 100%;
}

.branch {
    margin-bottom: 0.5em;
}

.branch a {
    text-decoration: none;
    color: black;
}

.branch p {
    font-size: 1.1vw;
    margin-left: 0.3em;
    margin-top: 1.885em;
    float: left;
    display: inline;
    text-decoration: underline;
    font-weight: lighter;
}

.extend-list {
    margin-left: 6.45em;
    text-align: center;
    font-size: 1vw;
    color: gray;
    text-decoration: underline;
}



.extend-list:hover {
    color: black;
    cursor: pointer;
}