body {
    padding-right: 2vw;
    font-family: sans-serif;
  }

.header-banner {
    height:120px;
}

.text-header {
  font-size: 1.2vw;
  height:6em;
  size:auto;
  text-align:left;
  margin-left:2vw;
}

div.text-header h1 {
  margin-top: 1em;
  float: left;
}

div.return {
  margin-top:2.6em;
  margin-left:1em;
  float:right;
}

.return a {
  background: white;
  border-style: dotted;
  border-width: 0.1em;
  padding: 0.5em;
  border-radius: 1em;
}

.return a:visited {
  color: black;
}

.member-count {
  font-size: 1.2vw;
  margin-top: 0;
  margin-left:2vw;
}

.user-listing {
  background-color: rgb(250, 229, 221);
  height: 3em;
  border-radius: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 2vw;
}

.user-listing span {
  margin: 0;
  padding-top:1em;
  padding-left: 0.9em;
  color:black;
  float: left;
}

div.actions {
  padding-top: 1em;
  float:right;
  padding-right: 1.5em;
}

.actions a {
  background: white;
  border-style: dotted;
  border-width: 0.1em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 1em;
  margin-left: 1.5em;
}

