body {
  padding-right: 2vw;
  font-family: sans-serif;
}

.header-banner {
  height: 120px;
}

.text-header {
  font-size: 1.2vw;
  height: 6em;
  text-align: left;
  margin-left: 2vw;
}

div.text-header h1 {
  margin-top: 1em;
  float: left;
}

div.return {
  margin-top: 2.6em;
  margin-left: 1em;
  float: right;
}

.return button {
  background: white;
  border-style: none;
  margin-right: 5px;
  border-width: 0.3em;
  padding: 0.5em 0.8em;
  border-radius: 100em;
  font-size: 1em;
  outline-color: #5271ff;
  outline-width: 5px;
  outline-style: solid;
}

.return a:visited {
  color: black;
}

.member-count {
  font-size: 1.2vw;
  margin-top: 0;
  margin-left: 2vw;
}

.user-listing span {
  margin: 0;
  padding-top: 1em;
  padding-left: 0.9em;
  color: black;
  float: left;
}

div.actions {
  float: right;
  padding-right: 0.5em;
}

.actions a {
  background: white;
  border-style: dotted;
  border-width: 0.1em;
  padding: 1.25em 1.5em;
  border-radius: 100em;
  margin-left: 1.5em;
}

.actions button {
  background: white;
  border-style: none;
  padding: 1em 1.5em;
  border-radius: 100em;
  margin: 0.4em 0em 0.4em 1.25em ;
  font-size: 1em;
  outline-color: #5271ff;
  outline-width: 5px;
  outline-style: solid;
}

.singleUser {
  align-items: center;
  padding: auto;
  height: 4em;
  background-color: white;
  border-radius: 100em;
  margin-bottom: 0.75em;
  margin-left: 2vw;
  padding: 0px 0px 0px 40px;
  line-height: 4em;
  font-size: 1.5em;
  border-color: #5271ff;
  border-width: 5px;
  border-style: solid;
}