/* HEADER START */
body {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
  }

  .header {
    padding: 0px;
    background: #5271ff;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    color: white;
    font-size: 2em;
    line-height: 80px;
  }

 #dropdown {
  margin-top: 100px;
  right: 5px;
  z-index: 10;
 }

  #menuContents {
    display: flex;
    position: fixed;
    right: 5px;
    z-index: 0;
    font-size: 2em;
    width: 300px;
    height: 450px;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    border-top-right-radius: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }

  #menuContents a {
    padding: 20px 60px;
    margin: 15px 0px;
    display: inline-block;
    text-align: center;
  }

  .circle {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 10px 20px 50px;
    vertical-align: middle;
  }

  #logIn {
    background-color: #5271ff;
    border-radius: 50px;
    color: white;
  }

  #signUp {
    background-color: lightgray;
    border-radius: 50px;
    color: black;
  }

  #settings {
    color: black;
  }

  #logOut {
    color: rgb(109, 109, 109);
  }

  #searchBar {
    width: 300px;
    background-color: white;
    border-radius: 50px;
    float: right;
    margin: 20px 10px 20px 50px;
    padding: 0px 0px 0px 5px;
    box-sizing: border-box;
    color: gray;
    position: relative;
  }

  #searchBar input {
    padding: 25px 20px 25px 80px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    font-size: 0.8em;
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .smallCircle {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .blue {
    background-color: #5271ff;
  }

  .headerContent {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
  }

  #menu {
    float: right;
    border-style: none;
    font-size: 1.5em;
  }

  #menu:hover {
    background-color: #cccccc;
  }

  button {
    cursor: pointer;
  }

.headerIframe {
  background-color: transparent;
  position: fixed;
  border-width: 0px;
}

.headerIframe#dropdown {
  display: none;
}

.headerIframe.visible#dropdown {
  display: inline-block;
}
  /* HEADER END */


.header-banner {
    height:120px;
}